/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # LIME COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #8dbb32;}

h2 {color: #8dbb32;}

.menu li a:hover {color: #8dbb32;}

.btn {background: #ff7214;}

.btn:hover {background: #ff9900;}

.btn.grey {color: #8dbb32;}

.btn.grey:hover {color: #8dbb32;}

.section-title {color: #8dbb32;}

.section-title-bullet {background: #8dbb32;}

#header {background: #8dbb32;}

.feature h2 {color: #8dbb32;}

.price-table h3 {background: #8dbb32;}

.contact-bar {background: #8dbb32;}

.social-icons i {color: #8dbb32;}

.social-icons i:hover {color: #8dbb32;}

.slimScrollBar {background: #8dbb32 !important;}

.tablet-mockup-bg {background-color: #7C9F38 !important;}












