/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # LIME COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #0e76bc;}

h2 {color: #0e76bc;}

.menu li a:hover {color: #0e76bc;}

.btn {background: #f26507;}

.btn:hover {background: #f28607;}

.btn.grey {color: #0e76bc;}

.btn.grey:hover {color: #0e76bc;}

.section-title {color: #0e76bc;}

.section-title-bullet {background: #00adee;}

#header {background: #0e76bc;}

.feature h2 {color: #0e76bc;}

.price-table h3 {background: #0e76bc;}

.contact-bar {background: #0e76bc;}

.social-icons i {color: #0e76bc;}

.social-icons i:hover {color: #0e76bc;}

.slimScrollBar {background: #0e76bc !important;}

.tablet-mockup-bg {background-color: #7C9F38 !important;}












